
body{margin:0px;padding:0px;border:0px;background-color:green}
@media only screen  and (min-device-width:375px) and (max-device-height:667px)  {
  #pizzafoto {
      position: absolute;
      width: 40%;
      z-index: 3;
      bottom: -283%;
      left: 60%;
  }
  #kebabtext {
  line-height: 90%;
  left: 4%;
  width: 90%;
  top: 25%;
  position: absolute;
  z-index: 3;
  border-width: 10%;
  border-color: red;
  border-style: hidden;
  display: none;
  font-family: monospace;
}
#pantext {
  line-height: 150%;
  left: 4%;
  height: 50%;
  width: 90%;
  top: 20%;
  position: absolute;
  z-index: 3;

  border-color: red;
  border-style: hidden;

  font-family: monospace;
}
h2 {
  color: black;
  font-weight: bolder;
  font-size: 130%;
  float: left;
  font-family: monospace;
}
.special {
  color: black;
  font-weight: bolder;
  font-size: 80%;
  font-family: monospace;
}
#pizzafoto2 {
  position: absolute;
  width: 28%;
  z-index: 4;
  bottom: 61%;

  left: 35%;
}
  #pizzafoto{position: absolute;width: 40%;z-index: 3;bottom:-253%;;left:60%;}
  .p4 {
    line-height:120%;
    text-align-last:center;
      position: absolute;
      color: black;
      font-weight: bolder;
      font-size: 140%;
      font-family: monospace;
  }
  .special2 {
      color: black;
      font-weight: bolder;
      font-size: 75%;
      font-family: monospace;
  }
  p3 {
      color: black;
      font-weight: bolder;
      font-size: 140%!important;
      font-family: monospace;

  }
h3 {
  color: black;
  font-weight: bolder;
  font-size: 130%!important;
  float: left;
  font-family: monospace;

}
.p5 {
  position: absolute;
  left: 90%;
  color: white;
  font-weight: bolder;
  font-size: 100%;
  font-family: monospace;
  border-style: groove;
  background-color: red;
  border-color: red;
  border-radius: 10%;
}

.p2 {
  color: red;
  font-weight: bolder;
  font-size: 100%!important;
  font-family: monospace;
}
#pizzastext {
  height: 100%;
  line-height: 190%!important;
  left: 4%;
  width: 90%;
  top: 20%;
  position: absolute;
  z-index: 3;


  border-color: red;


  font-family: monospace;
}
.special3 {
  color: black;
  font-weight: bolder;
  font-size: 70%;
  font-family: monospace;
}


}


